.DS_Store

.git
.gitignore

.settings
.classpath
.project
.cache*
.metadata
.worksheet
RemoteSystemsTempFiles/
Servers/

.gradle
bin/
build/
/*/build/
# dist/

*.log
*.log.*
*~*
*.bak
*.tmp
*.temp
Thumbs.db

_old
/dist
# /*.min.js*

/.vscode

out/
tmp/
temp/
/target/
/target-eclipse/

.env
local.properties

# *.class

node_modules
npm-debug.log

.nyc_output
/coverage

.dockerignore
Dockerfile
Dockerfile.*
Jenkinsfile
Jenkinsfile.*
/jenkins
