.DS_Store

.vscode
.cache
.metadata
.settings
.idea

_old/
build/
docs/
lib/
logs/
out/
private/
tmp/
temp/

coverage/
.nyc_output

scripts/
src/
test/
# example/

*.zip
*.tar
*.tar.gz
*.tgz

.env
.envrc
.babelrc
.clinic
.dependabot
.eslintignore
.eslintrc*
.eslintcache
.esdoc.json
.yarn-integrity
.taprc

.editorconfig
.gitattributes
.travis.yml

gulpfile.*
jsdoc-conf.*
.jsdoc.json

jenkins.sh
tslint.json

*.log

TODO.*
BUILD.md

.dockerignore
# Dockerfile
# Dockerfile*.*
Jenkinsfile
Jenkinsfile*.*
/jenkins
