.DS_Store

.vscode
.cache
.metadata
.settings

_old/
build/
docs/
lib/
logs/
out/
private/
tmp/
temp/

scripts/
src/
test/
# example/

.env
.babelrc
.eslintignore
.eslintrc*
.eslintcache
.esdoc.json
.yarn-integrity

.editorconfig
.gitattributes
.travis.yml

gulpfile.*
jsdoc-conf.*

jenkins.sh
tslint.json

*.log

TODO.*
BUILD.md

.dockerignore
# Dockerfile
# Dockerfile*.*
Jenkinsfile
Jenkinsfile*.*
/jenkins
